/* Main background color #FFFFFF */

/* Footer color #000000 */

/* Main text color #212121 */

/* Secondary text color #757575 */

/* Logo specific color #2196F3 */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-specific-color: #2196f3;
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03cm;
}

.list {
  list-style: none;
}
/* Logo */

.logo {
  font-family: raleway;
  color: var(--logo-black);

  font-size: 26px;
  line-height: 1.2;
}
.logo-footer {
  color: var(--background-color);
}
.logo-web {
  color: var(--logo-specific-color);
}
/* Site links */
.site-nav {
  letter-spacing: 0.02cm;
}
.site-nav .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-specific-color);
}
.site-nav .link.current {
  color: var(--logo-specific-color);
}
/* header contacts */
.contacts {
  color: var(--secondary-text-color);
  letter-spacing: 0.02cm;
}
.contacts:hover,
.contacts:focus {
  color: var(--logo-specific-color);
}
/* Main title */
.main-title {
  letter-spacing: 0.06cm;
}

/* Section */
.section-title {
  color: var(--main-text-color);
}

/* Button */
.button {
  color: var(--background-color);
  background-color: var(--logo-specific-color);
}
/* Footer */
.footer-f {
  background-color: var(--footer-color);

  width: 1600px;
  height: 252px;
}
.footer-contacts {
  color: var(--footer-text);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--logo-specific-color);
}
.address {
  color: var(--background-color);
}
